[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "exampleSite/themes/tale"]
	path = exampleSite/themes/tale
	url = https://github.com/EmielH/tale-hugo.git
